.heading
{
    font-size : 23px;
    width : 100%;
    margin : 0px;
    box-shadow : 5px 5px 3px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading_div
{
    float : none;
    background-color : lightgray;
    padding : 10px;
    border-radius : 20px;
    color : black;
    box-shadow : 5px 5px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.heading_div2
{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

canvas
{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#person1:hover
{
    visibility: hidden;
}

#person2:hover
{
    visibility: hidden;
}

#person3:hover
{
    visibility: hidden;
}

#person4:hover
{
    visibility: hidden;
}

.heading:hover
{
    color: darkcyan;
}

p:hover
{
    color: navy;
}

